.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a399e;
  padding: 4px;
  border: 1px solid #fff;
  border-radius: 10px;

  &:hover {
    background-color: #142b77;
  }
}
